body {
    margin: 0;
    font-family: Arial;
    background: #e9e1d5;
}


header {
    background: #1d428a;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    height: 100%;
    transition: 1.s;
    font-weight: bold
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}


.hero {
    background: url('https://images.unsplash.com/photo-1519861531473-9200262188bf') center/cover;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    transition: 1.2s;
    font-weight: bold;
}


.content {
    display: flex;
    padding: 30px;
    gap: 20px;
}

.text {
    width: 40%;
    color: aliceblue;
}

.text iframe {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
    transition: 1.2s;
    color: aliceblue;
}

.images {
    width: 60%;
    transition: 1.2s;
}

.images img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 1.2s;
}

.grid {
    display: flex;
    gap: 10px;
}

.grid img {
    width: 33%;
    transition: 1.2s;
    cursor: pointer;
}


.rules {
    text-align: center;
    padding: 30px;
    transition: 1.2s;
    color: aliceblue;
    font-weight: bold;
}

.rule-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.rule {
    background: #2c3e50;
    padding: 20px;
    border-radius: 40px;
    color: white;
    transition-duration: 1.2s
}


footer {
    background: #1d428a;
    color: black;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

.content button {
  background-color: transparent;
  color: darkgoldenrod;             
  padding: 12px 24px;  
  border: none;                
  border-radius: 8px;      
  cursor: pointer;          
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

header button {
background-color: #2c3e50;
  color: aliceblue;             
  padding: 12px 24px;               
  border-radius: 8px;      
  cursor: pointer;          
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

.images {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  transition: all 0.3s ease; 
}

.images {
  background-color: #2c3e50; 
  cursor: pointer;
  transition: 1.2s;
}

body {
  background-image: url('imagenes/Logo-NBA.png');
  background-repeat: no-repeat; 
  background-size: cover;       
  background-position: center;  
  background-attachment: fixed; 
}

